<h1>Welcome back!</h1>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawListeningChart);

  function drawListeningChart() {
    var data = JSON.parse('<%= @user_listening_data.to_json.html_safe -%>');
    data = google.visualization.arrayToDataTable(data);

    var options = {
      title: 'Listening Trends',
      curveType: 'function',
      legend: { position: 'bottom' }
    };

    var chart = new google.visualization.ColumnChart(document.getElementById('listening_chart'));

    chart.draw(data, options);
  }
</script>

<script type="text/javascript">
  google.charts.setOnLoadCallback(drawGenresChart);

  function drawGenresChart() {
    var data = JSON.parse('<%= @user_genres_data.to_json.html_safe -%>');
    data = google.visualization.arrayToDataTable(data);

    var options = {
      title: 'Genre Trends',
      curveType: 'function',
      legend: { position: 'bottom' }
    };

    var chart = new google.visualization.LineChart(document.getElementById('genres_chart'));

    chart.draw(data, options);
  }
</script>
<div id="listening_chart" style="width: 900px; height: 500px"></div>
<div id="genres_chart" style="width: 900px; height: 500px"></div>
<div class="col s9">
  <div style="width: 33.33%; float: left">
    <h4>Top Genres:</h4>
    <ul>
      <% @top_genres.each do |genre|%>
        <li><%= genre %></li>
      <% end %>
    </ul>
  </div>

  <div style="width: 33.33%; float: left">
    <h4>Top Artists:</h4>
    <ul>
      <% @top_artists.each do |artist|%>
        <li><%= artist.name %></li>
      <% end %>
    </ul>
  </div>

  <div style="width: 33.33%; float: left">
    <h4>Top Tracks:</h4>
    <ul>
      <% @top_tracks.each do |track|%>
        <li><%= track.name %></li>
      <% end %>
    </ul>
  </div>
</div>
